<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
      (click)="onlyOdd = !onlyOdd">Show only odd numbers</button>
      <br><br>
      <ul class="list-group">
      <div *ngIf="onlyOdd">
          <li class="list-group-item"
          *ngFor="let odd of oddNumbers"
          [ngClass]="{'oddClass': odd % 2!==0}"
          [ngStyle]="{'backgroundColor': odd % 2 !=0 ? 'yellow':'transparent' }"
          >{{odd}}</li>
      </div>
      <div *ngIf="!onlyOdd"> 
        <li class="list-group-item"
        [ngClass]="{'oddClass': even % 2 !==0}"
        *ngFor="let even of evenNumbers"
        >{{even}}</li>
    </div>
  </ul>
  <p appBasicHighlight>Style Me with Basic Directive</p>
  <p appBetterHighlight
  [defaultColor]="'yellow'"
  [highlightColor]="'red'">Style with better Directive</p>
    </div>
  </div>
</div>